# backend/.env.example
DATABASE_URL="postgresql://user:password@localhost/dbname"
# Cambia user, password y dbname por los de tu base de datos PostgreSQL
# Por ejemplo: "postgresql://admin:mypassword@localhost/mydatabase"

ENVIRONMENT="development"
PROJECT_NAME="AdminLTE Flet FastAPI App"